footer {
  width: 100vw;
  height: fit-content;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: var(--mainTheme);
}
footer h4 {
  padding: 10px 0;
}
footer form {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
footer input {
  padding: 7px;
  border: none;
}
footer input[type="text"] {
  width: 203px;
}
footer input[type="email"] {
  width: 286px;
}
footer button {
  padding: 7px 25px;
  border: none;
  font-weight: bold;
  background-color: var(--callToActionTheme);
}
footer .recaptcha {
  width: 300px;
  margin: 5px 0;
}
footer textarea {
  width: 300px;
  min-height: 100px;
  padding: 7px;
  margin: 5px 0;
}
