.hero {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  background-color: cadetblue;
  position: relative;
}

.hero .heroBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  top: 0;
  z-index: 0;
}

.hero .showBox {
  position: relative;
  z-index: 6;
}
.hero .textBox {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.hero h1 {
  font-size: 10vw;
}
.hero p {
  font-size: 2vw;
}

.hero .showBox .textBox .theX {
  color: var(--callToActionTheme);
}

.hero .phoneHomeView {
  border-radius: 40px;
  box-shadow: 12px 12px 10px 1px var(--shadowTheme);
}
