.swiper-container {
  width: 500px;
}
.carousel {
  width: 100%;
  text-align: center;
}
.carousel .card {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .card .textBox {
  padding: 10px;
  text-align: left;
}
.carousel .card h4 {
  font-size: 20px;
  font-weight: bold;
}

.carousel .card p {
  font-size: 18px;
}
