.smallAbout {
  height: 70vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.smallAbout .textBox {
  width: 100%;
  max-width: 600px;
}

.smallAbout .textBox h2 {
  font-size: 30px;
}

.smallAbout .textBox p {
  font-size: 30px;
}

.smallAbout .appIcon {
  border-radius: 20px;
  border: 1px solid var(--shadowTheme);
  box-shadow: 12px 12px 10px 1px var(--shadowTheme);
}
